@charset "utf-8";

html,
body,
h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4c4c4c;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif,
        "ヒラノギ角ゴシック";
}
img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

header {
}
.wrap {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header p {
    font-size: 1.5rem;
    padding-left: 30px;
}
.navi-list {
    display: flex;
    justify-content: flex-end;
}

.navi-list li {
    list-style: none;
    padding: 6px 12px;
    font-size: 12px;
    margin-bottom: 15px;
}
li + li {
    border-left: 1px solid #4c4c4c;
}
.wrap2 {
    padding-bottom: 50px;
    background-color: #eeee;
}
.content-name h2 {
    text-align: center;
    padding: 20px;
    color: limegreen;
}
.container {
    max-width: 960px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.box {
    width: 30%;
    background-color: #fff;
}
.box h3 {
    border-left: 5px solid limegreen;
    margin: 5px 5px;
    padding-left: 5px;
    color: limegreen;
}
.box p {
    margin: 10px 12px;
    line-height: 1.2;
}
/*画面幅が400px以下で縦に並べる*/
@media screen and (max-width: 400px) {
    .wrap {
        display: block;
        text-align: center;
        background-color: darkseagreen;
        margin: 0 auto;
    }
    .header p {
        text-align: center;
        padding-top: 30px;
        padding-left: 0;
    }
    .navi-list {
        display: block;
        padding: 10px 136px;
        margin-bottom: 0;
    }
    .navi-list li {
        border-bottom: 1px solid #4c4c4c;
    }
    li + li {
        border: none;
    }
    .wrap2 {
        display: block;
        background-color: #eeee;
    }
    .container {
        display: block;
    }
    .box {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 80%;
    }
    .box h3 {
        font-size: 16px;
    }
    .box p {
        font-size: 13px;
        padding-bottom: 5px;
    }
}
