@charset "utf-8";

body,
h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4c4c4c;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif,
        "ヒラノギ角ゴシック";
}
.header {
    height: auto;
}
.wrap {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    height: auto;
    background-color: #eee;
}

.header p {
    font-size: 20px;
    margin-bottom: 24px;
    margin-left: 10px;
}

.navi-list {
    display: flex;
    justify-content: flex-end;
}

.navi-list li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    margin-top: 24px;
    padding: 2px 12px;
    font-size: 12px;
}
li + li {
    border-left: 1px solid #4c4c4c;
}
.wrap2 {
    height: auto;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: #eeee;
}
.content-name h2 {
    text-align: center;
    padding: 20px;
    height: auto;
    color: limegreen;
}
.container {
    max-width: 960px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.box {
    display: flexbox;
    width: 280px;
    height: 290px;
    margin: 0 auto;
    background-color: #fff;
}
.box h3 {
    border-left: 4px solid limegreen;
    margin-left: 2%;
    margin-top: 2%;
    padding-left: 1%;
    padding-top: 1%;
    color: limegreen;
}
.box p {
    margin: 2% 6%;
    line-height: 1.2;
}

/*画面幅が400px以下で縦に並べる*/
@media screen and (max-width: 400px) {
    .wrap {
        display: block;
        max-width: 400px;
    }
    .header p {
        text-align: center;
        padding-top: 30px;
    }
    .navi-list {
        display: block;
        margin-bottom: 5%;
    }
    .navi-list li {
        display: block;
        margin: 1% 35% 1% 35%;
        padding-top: 2%;
        border-bottom: 1px solid #4c4c4c;
    }
    li + li {
        border: none;
    }
    .wrap2 {
        display: block;
        max-width: 400px;
        margin-top: -5%;
    }
    .container {
        display: block;
    }
    .box {
        margin-bottom: 5%;
    }
    .box p {
        font-size: 90%;
    }
}
